/*? Imports & Variables*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
    --ui-color: #232124; /* Color of the Taskbar and Sidebar */
    --button-color: #2e2b2f; /* Color of the Buttons */
    --font-color: #ffffff; /* Color of the Text and Dividers */
}

/*? Static Styles*/
/** Canvas*/
body {
    /*Font*/
    font-family: "Comfortaa", sans-serif;
    /*Background*/
    background-color: var(--ui-color);
    /*Layout*/
    margin: 0;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 1fr 50px;
    height: 100vh;
}

/** Taskbar*/
#taskbar {
    grid-column: 2;
    grid-row: 2;
    height: 50px;
    background-color: var(--ui-color);
    box-shadow: 0px -5px 10px 0px var(--ui-color);
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.taskbar-divider {
    background-color: var(--font-color);
    height: 25px;
    width: 1px;
}
#taskbar-left { /* Contains start menu and search menu */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
#taskbar-center { /* Contains open files and apps */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
#taskbar-right { /* Contains action buttons and time indicator */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}
.button-shadow{
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.button-shadow-active{
    box-shadow: 0px 10px 10px 0px rgba(40, 0, 60, 0.5);
}
#toggle-sidebar{
    width: 20px;
    height: 40px;
    background-color: var(--button-color);
    background-image: url("/Assets/Icons/toggle_sidebar.png");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, filter 0.15s ease-in-out;
}
#start-menu {
    height: 40px;
    width: 40px;
    background-color: var(--button-color);
    border-radius: 10px;
    cursor: pointer;
}
#search-menu {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-color);
    background-image: url("/Assets/Icons/search.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
#date-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
}
#timeIndicator {
    color: var(--font-color);
    margin: 0;
    text-align: center;
}
#dateIndicator {
    color: var(--font-color);
    margin: 0;
    text-align: center;
}
.actionButton {
    height: 25px;
    width: 25px;
    background-color: #444444;
    border-radius: 6.25px;
    cursor: pointer;
}
#switch-button {
    background-image: url("/Assets/Icons/mode_switch.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#split-button {
    background-image: url("/Assets/Icons/split_view.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/** Sidebar*/
#sidebar {
    grid-row: 1 / span 2;
    width: max-content;
    background-color: var(--ui-color);
    box-shadow: 5px 0px 10px 0px var(--ui-color);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    overflow: auto;
    color: #ffffff;
        
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255)b9b2d; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9b9b9b59; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b4f; 
  }


  #selectBtn {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px -5px 10px 0px var(--ui-color);

    background-color: var(--button-color);
    border-radius: 10px;
  }

  .tree {
    margin: 20px;
    
  }
  .tree ul {
    list-style-type: none;
    padding-left: 20px;
  }
  .tree li {
    line-height: 1.5em;
    position: relative;
    margin: 2px 0;
    cursor: pointer;
  }
  .tree li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 1px solid #3c3c3c;
    bottom: 0;
  }
  .tree li::after {
    content: "";
    position: absolute;
    top: 1em;
    left: -10px;
    width: 10px;
    height: 0;
    border-top: 1px solid #3c3c3c;
  }
  .folder {
    font-weight: bold;
  }
  .file {
    margin-left: 15px;
  }
  .hidden {
    display: none;
  }




/** Display*/
#display {
    grid-column: 2;
    grid-row: 1;
    background-image: url('/Assets/Wallpapers/placholder_desktop.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

/*? Animations*/
.buttonAni {
    filter: brightness(1);
    transition: filter 0.15s ease-in-out;
}
.buttonAni:hover {
    filter: brightness(1.2);
}


